@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+Gurmukhi:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    margin:0; 
}
@keyframes linkSelectA{
    0%{
        transform: scale(1); 
    }
    25%{
        transform: scale(1.2);
        color:#5f6f52ff;   
    }
    100%{
        transform: scale(1);
        color:#5f6f52ff;
    }
}
@keyframes linkSelectNav{
    0%{

    }
    100%{
        background-color: #fefae0ff;
    }
}
/*Codigo de el index*/
nav {
    justify-content: space-between;
    display: flex;
}
#menu > a {
    justify-content: space-between;
    text-decoration: none;
    color: #fefae0ff;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}
#menu {
    background-color: #272727;
}
#head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #5f6f52ff;
    height: 12vh;
}
#logo > p {
    margin-bottom: 0;
    margin-top: 1vh;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    color: #fefae0ff;
    font-size: 8.5vh;
    min-width: 200px;
}
#logo > div {
    margin-top: 2.5vh;
}
#sep {
    width: 100%;
    height: 4vh;
    background-color: #272727;
    margin-top: -3.5vh;
}
#botonesTienda {
    display: flex;
    justify-content: space-between;
    background-color: #5f6f52ff;
}
#botonesTienda > button {
    width: 33%;
    height: 8vh;
    color: #fefae0ff;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}
#tiendaBack {
    background-image: url(Imagenes/FONDOPAGINA1.png);
    height: auto; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tiendaBack > #tiendaItems {
    display: flex;
    width: 98%;
    height: auto; 
    background-color: #27272783;
    backdrop-filter: blur(4px);
    justify-content: space-around;
    flex-wrap: wrap;
}
#objetoVenta1 {
    display: flex;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    font-size: x-large;
    color: #fefae0ff;
    width: 55vh; 
    min-width: 200px;
    max-width: 60vw;
    height: 30vh;
    background-color: #272727;
    border-radius: 5%;
    margin-top: 3vh;
}
#objetoVenta1 > img {
    display: flex;
    margin: 3vh 2vh;
}
#TextoItem1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#TextoItem1 > h1 {
    margin-bottom: 1vh;
    font-size: medium;
}
#TextoItem1 > h2 {
    margin-bottom: 1vh;
    font-size: medium;
}
#TextoItem1 > p {
    color: #ff407d;
    font-size: medium;
}
#TextoItem1 > a {
    display: flex;
    background-color: #ff407d;
    color: #272727;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    width: 10vw;
    min-width: 100px;
    font-size: x-large;
}
#footer {
    display: flex;
    width: 100%;
    height: auto; 
    background-color: black;
    color: white;
    font-size: 3vh;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    align-items: center;
    flex-direction: row;
}
#footer1,
#footer2 {
    height: auto;
}
#footer2 {
    width: 66%;
    height: auto;
    border-left: 2px solid white;
}
#footer2 > h3 {
    height: 2vh;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
    #menu {
        flex-direction: column;
        align-items: center;
    }
    #logo > p {
        font-size: 6vh;
    }
    #botonesTienda > button {
        width: 100%;
    }
    #objetoVenta1 {
        width: 90%;
    }
}
/*Codigo de Carrito de compras*/
#fondoCarrito {
    background-color: #fefae0ff;
    display: flex;
    width: 100%;
    height: 100vh;
}
#izquierdaCarrito {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #2727273a;
    height: 65vh;
    width: 55vw;
    border: 2px solid #272727;
    margin: 3%;
}
#derechaCarrito {
    margin-top: 3%;
    margin-right: 2vw;
    display: flex;
    width: 37vw;
    height: 65vh;
    flex-direction: column;
}
#derechaCarrito > #totalCarrito {
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    background-color: #5f6f52ff;
    color: #fefae0ff;
    width: 37vw;
    height: 10vh;
    margin-bottom: 3vh;
}
#derechaCarrito > #totalCarrito > h2 {
    text-align: center;
}
#derechaCarrito > #totalCarrito > p {
    text-align: center;
}
#cuestionarioCarrito {
    background-color: #5f6f52ff;
    color: #fefae0ff;
    width: 37vw;
    height: 60vh;
    display: flex;
    align-items: center;
}
#cuestionarioCarrito {
    display: flex;
    flex-direction: column;
}
#cuestionarioCarrito > input[type="text"],
#cuestionarioCarrito > textarea {
    width: 25vw;
    background-color: #272727;
    color: #5f6f52ff;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
    #fondoCarrito {
        flex-direction: column;
        height: auto;
    }

    #izquierdaCarrito {
        width: 90%;
        margin: 3% auto;
    }

    #derechaCarrito {
        width: 90%;
        margin: 3% auto;
    }

    #derechaCarrito > #totalCarrito,
    #cuestionarioCarrito {
        width: 90%;
    }

    #cuestionarioCarrito > input[type="text"],
    #cuestionarioCarrito > textarea {
        width: 100%;
    }
}
/*Codigo Pagina de Items*/
#fondoItem1 {
    background-color: #fefae0ff;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}
#DerechaPaginaItem1 {
    display: flex;
    width: 35%;
    height: 70vh;
    background-color: #27272760;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}
#textoPaginaItem1 {
    margin-left: -3%;
    background-color: #5f6f52ff;
    width: 63%;
    height: 35vh;
    color: #fefae0ff;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    align-items: center;
}
#textoPaginaItem1 > h1 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
#textoPaginaItem1 > h3 {
    margin-left: 5%;
    margin-right: 5%;
}
#textoPaginaItem1 > h2 {
    margin-left: 5%;
    margin-right: 5%;
}
#textoPaginaItem1 > button {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
#fondoCarrucel2PaginaItem1 {
    background-color: black;
    height: 40vh;
    width: 100%;
    border-bottom: 2px solid white;
    color: white;
}
#fondoimagen {
    background-color: #fefae0ff;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 5%;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
    #fondoItem1 {
        flex-direction: column;
        height: auto;
    }
    #DerechaPaginaItem1 {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }
    #textoPaginaItem1 {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }

    #fondoimagen {
        height: 40%;
    }
}
/*codigo del loggin*/
.body {
    background-color: #148f77;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-page {
    width: 90%; 
    max-width: 360px; 
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: -webkit-sticky;
    position: sticky; 
    top: 0; 
    z-index: 1;
    background: #5f6f52ff;
    max-width: 90%; 
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px; 
}
.form input {
    font-family: FontAwesome, "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
}
#entrarIndex {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    background: #fefae0ff;
    width: 100%;
    border: 0;
    border-radius: 30px;
    margin: 0px 0px 8px;
    padding: 15px;
    color: #5f6f52ff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form button:hover,
.form button:focus {
    background: #148f77;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}
.form button:active {
    transform: translateY(2px);
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}

.form .message {
    margin: 6px 6px;
    color: #808080;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}
.form .message a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background-color: #148f77;
    background: -webkit-linear-gradient(right, #148f77, #148f77);
    background: -moz-linear-gradient(right, #148f77, #148f77);
    background: -o-linear-gradient(right, #148f77, #148f77);
    background: linear-gradient(to left, #148f77, #148f77);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  