@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+Gurmukhi:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
    margin:0; 
}
@keyframes linkSelectA{
    0%{
        transform: scale(1); 
    }
    25%{
        transform: scale(1.2);
        color:#5f6f52ff;   
    }
    100%{
        transform: scale(1);
        color:#5f6f52ff;
    }
}
@keyframes linkSelectNav{
    0%{

    }
    100%{
        background-color: #fefae0ff;
    }
}
/*Codigo de el index*/
nav{
    justify-content: space-between; 
    display: flex;
}
#menu>a{
    justify-content: space-between;
    text-decoration: none;
    color: #fefae0ff;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}
#menu{
    background-color: #272727;
}

#head{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 100%;
}
#logo>p{
    margin-bottom: 0;
    margin-top: 1vh;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    color: #fefae0ff;
    font-size: 8.5vh;
}
#logo>div{
    margin-top: 2.5vh;
}

#head{
    background-color: #5f6f52ff;
    height: 12vh;
}
#link1{
    animation-duration: 1s;
}
#link1:hover{
    animation: linkSelectA;
    animation-duration: 1s;
    color:#5f6f52ff;
}
#link2:hover{
    animation: linkSelectA;
    animation-duration: 1s;
    color:#5f6f52ff;
}
#link3:hover{
    animation: linkSelectA;
    animation-duration: 1s;
    color:#5f6f52ff;
}
#link1{
    width:25%;
}
#link2{
    width:25%;
}
#link3{
    width:50%;
}
#link1:hover{
    animation: linkSelectNav;
    width:25%;
    animation-duration: 1s;
    background-color: #fefae0ff;
}
#link2:hover{
    animation: linkSelectNav;
    width:25%;
    animation-duration: 1s;
    background-color: #fefae0ff;
}
#link3:hover{
    animation: linkSelectNav;
    width:50%;
    animation-duration: 1s;
    background-color: #fefae0ff;
}
#sep{
    width: 100%;
    height: 4vh;
    background-color: #272727;
    margin-top: -3.5vh;
}
#botonesTienda{
    display: flex;
    justify-content: space-between;
    background-color: #5f6f52ff;

}
#botonesTienda>button{
    width: 33%;
    height:8vh;
    color: #fefae0ff;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}
#botonesTienda> button:hober{
    color: #5f6f52ff;
    animation: linkSelectA;
    animation-duration: 1s;
}
#tiendaBack{
    background-image: url(FONDOPAGINA1.png);
    height: 300vh;
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    margin-top: -0px;
    justify-content: center;
    align-items: center;
}
#tiendaBack>#tiendaItems{
    display: flex;
    width: 98%;
    height: 300vh;
    background-color: #27272783;
    backdrop-filter: blur(4px);
    justify-content: space-around;
    flex-wrap: wrap;
}

#objetoVenta1{
    display: flex;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    font-size: 4vh;
    color: #fefae0ff;
    width: 85vh;
    height: 50vh;
    background-color: #272727;
    border-radius: 5%;
}
#objetoVenta1>img{
    display: flex;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
}
#TextoItem1{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: right;
}
#TextoItem1>h1{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh ;
}
#TextoItem1>p{
    color: #ff407d;
}
#TextoItem1>a{
    display: flex;
    background-color: #ff407d;
    color: #272727;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    width: 30vh;
}
#footer{
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
    font-size: 3vh;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
}

/*Codigo de Carrito de compras*/
#fondoCarrito{
    background-color: #fefae0ff;
    display: flex;
    width: 100%;
    height: 150vh;
}
#izquierdaCarrito{
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    background-color: #2727273a;
    height: 70vh;
    width: 60vw;
    border: 2px solid #272727;

}
#derechaCarrito{
    display: flex;
    width: 40vw;
    height: 60vh;
    flex-direction: column;
}
#derechaCarrito>#totalCarrito{
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-optical-sizing: auto;
    background-color: #5f6f52ff;
    color: #fefae0ff;
    width: 40vw;
    height: 10vh;
    margin-bottom: 3vh;

}
#derechaCarrito>#totalCarrito>h2{
    text-align: center;
}
#derechaCarrito>#totalCarrito>p{
    margin-left: 2vw;
}
#derechaCarrito>#cuestionarioCarrito{
    background-color: #5f6f52ff;
    color: #fefae0ff;
    width: 40vw;
    height: 60vh;
}
#cuestionarioCarrito{
    display: flex;
    flex-direction:column ;

}
#cuestionarioCarrito>input[type="text"], textarea {
    width: 25vw;
    background-color : #272727; 
    color: #5f6f52ff;

  
}